/* mi-wifi.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f0f2f5;
}
.custom-header {
  background: #333;
  text-align: center;
  padding: 20px;
}
.logo-custom {
  height: 80px;
}
