
body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: #fff;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #1a1a1a;
    padding: 1em;
    text-align: center;
}
main {
    padding: 2em;
}
.evento {
    border-bottom: 1px solid #333;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
